div.column 
{
  width: 25%;
  float: left;
}

div.headlet
{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  transition: height 100ms;
  height: 2em;
}

div.headlet:hover {
  height: 40px
}

div.headlet:hover .add-button
{
  display: inherit;
}

div.headlet .add-button
{
  display: none;
  font-size: 2em;
  cursor: pointer;
}

div.headlet .add-button:hover
{
  color: darkgray;
}
